body {
  background-image: url("./css/images/marble.jpg");
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 80px !important;
    font-weight: bold;
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    color:#FCD358;
    margin-top: 15px !important;   
}

.bi {
  font-size: 45px;
  color: #25C0C0;
}

button{
  background-color: Transparent;  
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
}

#affirmations {
  font-family: 'Cookie', cursive;
  color:#ff00ff ;
  font-size: 45px;
  font-weight: bold;
  text-shadow: #FC0 1px 0 50px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.mirror {
  position: relative;
  text-align: center;
}