body {
    background-image: url('./images/pexels-anni-roenkae-2860807.jpg')
  }

h1 {
    font-family: 'Cookie', cursive;
    font-size: 80px !important;
    font-weight: bold;
    color:#FCD358;
    margin-top: 15px !important;   
}

.bi {
  font-size: 45px;
  color: #25C0C0;
}

button{
  background-color: Transparent;  
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
}

#affirmations {
  font-family: 'Cookie', cursive;
  color:#ff00ff ;
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.mirror {
  position: relative;
  text-align: center;
}